.about {
    background-color: var(--color-lgb);

    &__content {
        @extend %sec-padding;

        &--title {
            @extend %heading-color;
            font-size: font-size(font-size-medium);
            font-weight: font-weight(font-weight-regular);
            margin-bottom: 1.5rem;
        }

        &--para {
            @extend %sec-para;
            margin-bottom: 10vh;
        }

        &--row {
            display: grid;
            grid-template-columns: repeat(auto-fit , minmax(26rem , 1fr));
            grid-gap: 4rem;

            &__col {
                display: grid;
                grid-template-rows: repeat(3 , min-content);
                grid-row-gap: 3vh;

                &--title {
                    @extend %heading-color;
                    font-weight: font-weight(font-weight-regular);
                }

                &--para {
                    @extend %sec-para;
                }
            }
        }
    }

    @include media-tablet {
        &__content {
            padding: 8rem calc(2rem + 2vw);

            &--title {
                font-size: 3.5rem;
                text-align: center;
            }

            &--para {
                text-align: center;
            }
        }
    }

    @include media-medium {
        &__content {
            padding-top: 5rem !important;
            &--row {
                &__col {
                    img , &--title , &--para {
                        justify-self: center;
                        text-align: center;
                    }
                }
            }
        }
    }
}