
:root {
    font-size: 62.5%;
    --color-fbg: hsl(233, 26%, 24%);
    --color-gradient: linear-gradient(90deg , hsl(136, 65%, 51%) , hsl(192, 70%, 51%));
    --color-gb: hsl(233, 8%, 62%);
    --color-lgb: hsl(220, 16%, 96%);
    --color-vlg: hsl(0, 0%, 98%);
    --color-white: hsl(0, 0%, 98%);
}

body {
    font-size: 1.8rem;
    font-family: 'Public Sans', sans-serif;
    line-height: 1.6;
    background-color: var(--color-white);
    overflow-x: hidden;

    &.noscroll {
        overflow: hidden;
    }
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

a:link,
a:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--color-gb);
    font-weight: font-weight(font-weight-bold);
    font-size: font-size(font-size-xsmall);
}

.container {
    max-width: 130rem;
    margin: 0 auto;
}